.vs/UFOCat/v17/Browse.VC.db filter=lfs diff=lfs merge=lfs -text
.vs/UFOCat/v17/ipch/AutoPCH/7ddfa321c23f8aba/FRAME.ipch filter=lfs diff=lfs merge=lfs -text
.vs/UFOCat/v17/ipch/a1dd17d6a23d0dc2.ipch filter=lfs diff=lfs merge=lfs -text
